.modal{
    display: block;
    z-index: 2000;
    top: 200px;
}
.modal-header {
    border-bottom: 2px solid white!important;
}
.rm_form_container{
    width: 100%!important;
}
.modal-arteref-pop-up{
    background-color: #e2e0e1;
    color: rgb(87, 87, 87);
    max-width: 550px;
}
.modal-arteref-pop-up h1{
    color: #f158b3;
    text-align: center;
}
.modal-arteref-pop-up p{
    font-size: 1.3em;
}
.modal-arteref-pop-up label{
    color: rgb(87, 87, 87);
    font-weight: 0!important;
}
#close_pop_up_arteref{
    padding: 0;
    cursor: pointer;
    border: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: white;
    border-radius: 50%;
}
.img_ebook img{
    max-height: 386px;
}
.arteref_modal_content{
    display: flex;
}
.sib_signup_box_inside_2{
    position: relative;
    top: 35px;
}